In [1]:
# GalaxyMass
# ASTR 400B HW 3
# Emily Walla
# February 2020

In [2]:
# make necessary imports
import numpy as np
import astropy.units as u
from Readfile import Read
import pandas as pd

In [3]:
# GalaxyMass program contains function ComponentMass
# ComponentMass returns total mass of any desired galactic component

In [49]:
def ComponentMass(filename, Ptype):
    # inputs:
    #      filename: the name of the txt file you wish to read
    #      Ptype: the type of particle you wish to find the mass of.
    #             options for Ptype = 1, 2, or 3.
    #             1 = Halo matter, 2 = Disk material, 3 = Bulge stuff
    
    # returns:
    #      The total mass of your desired galactic component, in 1e12Msun
    
    # read in the file
    time, number, data = Read(filename)
    
    # select only that data of your selected material type
    select_data = data[np.where(data["type"]==Ptype)]
    
    # extract mass data from your selected data
    mass_array = select_data["m"]
    
    # find total mass of the selected material
    total_mass = np.around(np.sum(mass_array)*1e12*u.Msun, 3)
    
    return np.around(total_mass, 3)

In [50]:
# function that returns the total mass of the galaxy and the f-bar

def Total_fbar(halo,disk,bulge):
    # All units in solar massses
    
    # inputs:
    #     halo: the total mass of the halo material of the galaxy
    #     disk: the total mass of the disk material of the galaxy
    #     bulge: the total mass of the bulge material of the galaxy
    
    # returns:
    #     total_g_mass : the total mass of the galaxy
    #     fbar: the baryon fraction for the galaxy
    #          fbar total_star_mass/total_g_mass
    
    total_star_mass = disk.value+bulge.value
    
    total_g_mass = np.around( (total_star_mass+halo.value), 3 )
    
    fbar = np.around( (total_star_mass/total_g_mass), 3 )
    
    return np.around(total_g_mass*u.Msun,3), np.around(fbar,3)

In [51]:
# define the files I am using

# Milky Way
MW = "../../MW_000.txt"

# M31
M31 = "../../../../astr400b/M31_000.txt"

# M33
M33 = "../../../../astr400b/M33_000.txt"

In [52]:
# create table to store data in
# Columns of table are:
# Galaxy Name, Halo mass (units), Disk Mass (units), Bulge Mass (units), Total (units), f_bar
table_array = np.empty((4,6),dtype="object")

In [53]:
# calculate the Milky Way Disk Mass, in Solar Masses
MW_Disk = ComponentMass(MW,2)
# Calculate the Milky Way Halo Mass, in solar masses
MW_Halo = ComponentMass(MW,1)
# Calculate the Milky Way Bulge Mass, in solar masses
MW_Bulge = ComponentMass(MW,3)

# Halo Mass, M31
M31_Halo = ComponentMass(M31,1)
# Disk Mass, M31
M31_Disk = ComponentMass(M31,2)
# Bulge Mass, M31
M31_Bulge = ComponentMass(M31,3)

# Halo Mass, M33
M33_Halo = ComponentMass(M33,1)
# Disk Mass, M33
M33_Disk = ComponentMass(M33,2)
# Bulge Mass, M33
M33_Bulge = ComponentMass(M33,3)

In [54]:
# calculate the total mass and baryon fraction of each galaxy
MW_Total, MW_fbar = Total_fbar(MW_Halo,MW_Disk,MW_Bulge)
M31_Total, M31_fbar = Total_fbar(M31_Halo,M31_Disk,M31_Bulge)
M33_Total, M33_fbar = Total_fbar(M33_Halo,M33_Disk,M33_Bulge)

In [55]:
# Calculate the Local Group's total Mass
Local_Total = M33_Total + M31_Total + MW_Total

# Calculate the Local Group's Baryon Fraction
Local_fbar = ( M31_Disk+M31_Bulge+ M33_Disk+M33_Bulge+ MW_Disk+MW_Bulge ).value/Local_Total.value

# In order to populate the would-be empty cells in the table, find the total halo, disk, and bulge masses
# Calculate Halo Total
Local_Halo = M31_Halo + M33_Halo + MW_Halo

# Calculate Disk Total
Local_Disk = M31_Disk + M33_Disk + MW_Disk

# Calculate Bulge Total
Local_Bulge = M31_Bulge + M33_Bulge + MW_Bulge

In [60]:
table_array[0,:]=["Milky Way",MW_Halo.value, MW_Disk.value, MW_Bulge.value, MW_Total.value,MW_fbar]
table_array[1,:]=["M31", M31_Halo.value, M31_Disk.value, M31_Bulge.value,M31_Total.value,M31_fbar]
table_array[2,:]=["M33", M33_Halo.value, M33_Disk.value, M33_Bulge.value,M33_Total.value,M33_fbar]
table_array[3,:]=["Local Group", Local_Halo.value, Local_Disk.value, Local_Bulge.value, Local_Total.value, Local_fbar]

In [61]:
# turn the table array into a pandas dataframe
# pandas is pretty in the jupyter environment
# and pandas can easily translate to LaTeX!
table = pd.DataFrame([table_array[0,:],table_array[1,:],table_array[2,:],table_array[3,:]],columns=["Galaxy Name", "Halo mass (M☉)", "Disk Mass (M☉)", "Bulge Mass (M☉)", "Total (M☉)", "f_bar"])

In [62]:
# I want to see my beautiful Pandas datatable
table

,Galaxy Name,Halo mass (M☉),Disk Mass (M☉),Bulge Mass (M☉),Total (M☉),f_bar
0,Milky Way,1.974925e+14,7.500000e+12,1.000500e+12,2.059930e+14,0.04100
1,M31,1.920880e+14,1.200000e+13,1.904997e+12,2.059930e+14,0.06800
2,M33,1.866130e+13,9.300000e+11,0.000000e+00,1.959130e+13,0.04700
3,Local Group,4.082418e+14,2.043000e+13,2.905497e+12,4.315773e+14,0.05407

In [59]:
# convert the pandas table to LaTeX.
# copy the output to a TeX editor (like Overleaf) and voila! A LaTeX table is born!
print(table.to_latex(index=True))

\begin{tabular}{llrrrrr}
\toprule
{} &  Galaxy Name &  Halo mass (M☉) &  Disk Mass (M☉) &  Bulge Mass (M☉) &    Total (M☉) &    f\_bar \\
\midrule
0 &    Milky Way &    1.974925e+14 &    7.500000e+12 &     1.000500e+12 &  2.059930e+14 &  0.04100 \\
1 &          M31 &    1.920880e+14 &    1.200000e+13 &     1.904997e+12 &  2.059930e+14 &  0.06800 \\
2 &          M33 &    1.866130e+13 &    9.300000e+11 &     0.000000e+00 &  1.959130e+13 &  0.04700 \\
3 &  Local Group &    4.082418e+14 &    2.043000e+13 &     2.905497e+12 &  4.315773e+14 &  0.05407 \\
\bottomrule
\end{tabular}